[x-cloak] {
    display: none !important;
}

@font-face {
    font-family: 'Lexend';
    src: url('../fonts/lexend-variable.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@import "tailwindcss";

html {
    scroll-behavior: smooth;
}

@theme {
    --spacing: 1px;
    --spacing-sec: clamp(3.4375rem, 2.4603rem + 3.6789vw, 6.875rem);

    --breakpoint-*: initial;
    --container-*: initial;

    --breakpoint-xsm: 450px;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --breakpoint-2xl: 1400px;
    --breakpoint-3xl: 1650px;

    --color-ghost-white: #e7ebf7;
    --color-grey: #8283a4;
    --color-red: #b6181f;
    --color-brand-blue: #0066b2;
    --color-dark-blue: #171835;
    --color-light-blue: #cce0f0;

    --font-lexend: "Lexend", serif;

    --text-100: clamp(3.125rem, 2.2366rem + 3.3445vw, 6.25rem);
    --text-100--line-height: clamp(3.125rem, 2.2366rem + 3.3445vw, 6.25rem);

    --text-64: clamp(2.25rem, 1.7525rem + 1.8729vw, 4rem);
    --text-64--line-height: 1.1;

    --text-32: 32px;
    --text-32--line-height: 1.2;

    --text-18: 18px;

    --text-22: clamp(1rem, 0.8934rem + 0.4013vw, 1.375rem);
    --text-22--line-height: 1.5;
}

@layer components {
    .container {
        @apply mx-auto px-16 md:px-40 xl:px-64
    }
}

@layer base {
    * {
        @apply scrollbar-thin scrollbar-thumb-ghost-white scrollbar-track-dark-blue
    }

    body {
        @apply font-lexend text-dark-blue md:text-18 bg-ghost-white font-light wrap-break-word hyphens-auto
    }

    button {
        @apply cursor-pointer;
        text-align: inherit;
        text-transform: inherit;
    }

    .sec_link {
        @apply flex items-center gap-10 justify-end cursor-default
    }

    .sec_name {
        @apply transition-slow text-sm font-medium py-6 px-12 bg-white shadow-[0_4px_4px_#00000026] rounded-xl opacity-0 group-[.active]:opacity-100
    }

    .sec_indi {
        @apply transition-slow size-12 border border-red rounded-full group-[.active]:bg-red cursor-pointer
    }

    .animated_line::after {
        @apply content-[''] absolute bottom-0 left-0 border-b;
        animation-name: line_effect;
        animation-timing-function: ease-in;
        animation-duration: .5s;
        animation-delay: .5s;
        animation-play-state: paused;
        animation-fill-mode: forwards;
    }

    .open .animated_line::after {
        animation-play-state: running;
    }

    @keyframes line_effect {
        0% {
            width: 0%;
        }

        100% {
            width: 100%;
        }
    }

    .row {
        @apply grid gap-20
    }

    .row.col_1_1 {
        @apply grid-cols-2
    }

    .row.col_1_2 {
        @apply grid-cols-3
    }

    .row.col_2_1 {
        @apply grid-cols-3
    }

    .row.col_1_2 .col:last-child {
        @apply col-span-2
    }

    .row.col_2_1 .col:first-child {
        @apply col-span-2
    }

    .col.box {
        @apply bg-white p-40 rounded-2xl
    }

    .box.fancy {
        @apply border-l-8 border-red
    }

    .free_text a {
        @apply underline font-semibold
    }

    .free_text :is(b, strong) {
        @apply font-semibold
    }

    .free_text span {
        @apply text-brand-blue font-semibold
    }

    .free_text {
        @apply flex flex-col gap-20
    }

    .free_text h1 {
        @apply text-64 font-semibold
    }

    .free_text h2 {
        @apply text-32 font-medium
    }

    .free_text h3 {
        @apply text-22 font-medium
    }

    .free_text h4 {
        @apply text-18
    }

    .free_text :is(h4, h5, h6) {
        @apply font-normal
    }
}

@utility transition-slow {
    transition: all .3s ease;
}

@utility btn {
    @apply py-14 px-28 rounded-full uppercase text-xs font-medium transition-slow hover:scale-95 border w-fit
}

@utility btn-red {
    @apply bg-red text-white hover:bg-dark-blue
}

@utility btn-blue {
    @apply bg-brand-blue text-white hover:bg-dark-blue
}

@utility btn-light {
    @apply bg-ghost-white text-dark-blue hover:bg-red hover:text-white hover:border-red
}

@utility btn-transparent {
    @apply py-13 px-28 bg-transparent rounded-full uppercase text-xs font-medium text-white hover:bg-dark-blue hover:border-dark-blue transition-slow hover:scale-95 border-2
}